<h1>{{ title }}</h1>

<h2>{{ interpolationMethod() }}</h2>

<h3>{{ number }}</h3>
<!-- We cant update the interpolation value. -->
<!-- <h1>{{ title = 'Rohit' }}</h1> -->

<app-login></app-login>

<!-- call a function  -->
<button (click)="myFunction()">My Function</button>
<!-- call a function  -->

<!-- Again calling same function  -->
<button (click)="myFunction()">My Function 2</button>
<!-- Again calling same function  -->

<!-- calling a function with argument  -->
<button (click)="myFunctionWithArgument('Rohit', 'Kumar')">My Name</button>
<!-- calling a function with argument  -->

<!-- Keyup event  -->
<input
  type="text"
  #event
  (keyup)="keyup(event.value)"
  placeholder="Enter a value"
/>
<!-- Keyup event  -->

<!-- Print Input Value in DOM  -->
<input
  type="text"
  #event1
  (keyup)="printVal(event1.value)"
  placeholder="Get Input Value in DOM"
/>

<h1>Print Input Value On Keyup : {{ printInputValue }}</h1>
<!-- Print Input Value in DOM  -->

<!-- Print on click  -->
<input
  type="text"
  #printOnClickId
  placeholder="get input value on click"
  name="Username"
/>
<button (click)="printOnClick(printOnClickId.value)">Print Input Value</button>
<button (click)="printOnClick(printOnClickId.placeholder)">
  Print Placeholder Value
</button>
<button (click)="printOnClick(printOnClickId.name)">
  Print Placeholder Name
</button>
<h1>Print Input Value On Click : {{ printOnClickValue }}</h1>
<!-- Print on click  -->
